.DS_Store
*.bak
home
.*.sw[op]
.sw[op]
?
.?
.idea
/clarity
/connectivity
/continuity
/changes
/current
/beguile
/home
*.zip
core/assets/minecraft/report_default
core/assets/minecraft/optifine
*_diff.gif
repack.out
*.pyc
