.DS_Store
*.bak
home
.*.sw[op]
.sw[op]
?
.?
.idea
/beguile
/changes
/clarity
/connectivity
/continuity
/contraption
/current
/home
*.zip
core/assets/minecraft/report_default
core/assets/minecraft/optifine
*_diff.gif
repack.out
*.pyc
